<ion-header-bar align-title="left" class="bar-dark">
    <div class="h1 title">微信(16)</div>
    <div class="buttons">
        <button class="button no-animation button-icon icon ion-android-search">
        </button>
        <button class="button no-animation button-icon icon ion-android-add">
        </button>
    </div>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>
        <div class="list marBot0">
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-aperture iconArea"></i>
            <span class="marLeft20">朋友圈</span>
            <i class="icon"><div class="rj-contacts-pic">
                <img src="img/adam.jpg">
            </div></i>
        </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-crop-strong iconBlue"></i>
                <span class="marLeft20">扫一扫</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-hand iconBlue"></i>
                <span class="marLeft20">摇一摇</span>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-people-outline iconBlue"></i>
                <span class="marLeft20">附近的人</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-flask-outline iconBlue"></i>
                <span class="marLeft20">漂流瓶</span>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-bag iconRed"></i>
                <span class="marLeft20">购物</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-game-controller-b-outline iconGame"></i>
                <span class="marLeft20">游戏</span>
            </a>
        </div>
    </ion-content>

</ion-view>

