<ion-header-bar align-title="left" class="bar-dark">
    <div class="h1 title">微信(16)</div>
    <div class="buttons">
        <button class="button no-animation button-icon icon ion-android-search">
        </button>
        <button class="button no-animation button-icon icon ion-android-add">
        </button>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
        <div class="list marBot0 code">
            <a class="item item-icon-left item-icon-right code" href="#">
                <i class="icon" style="width: 80px;">
                    <div class="rj-contacts-pic">
                        <img src="img/adam.jpg" class="pic">
                    </div>
                </i>
                <span class="name">orion</span>
                <i class="icon">
                    <div class="rj-contacts-pic">
                        <img class="iconCode" src="img/code.png">
                    </div>
                </i>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-image iconSkyBlue"></i>
                <span class="marLeft20">相册</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-cube iconRed"></i>
                <span class="marLeft20">收藏</span>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-briefcase iconSkyBlue"></i>
                <span class="marLeft20">钱包</span>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-happy iconYellow"></i>
                <span class="marLeft20">表情</span>
            </a>
        </div>
        <div class="rj-contacts-index-bar"></div>
        <div class="list marBot0">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-gear-a iconSkyBlue"></i>
                <span class="marLeft20">设置</span>
            </a>
        </div>
    </ion-content>
</ion-view>
